<!DOCTYPE html>
<html>
<script scr="js/angular-1.6.1/angular.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
<head>
	<title></title>
</head>
<body>
<div class="container panel">
        <h1 class="panel-heading">Стандартная таблица</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>Item 1</td>
                    <td>Item 2</td>
                    <td>Item 3</td>
                </tr>
                <tr class="danger">
                    <td>Item 4</td>
                    <td>Item 5</td>
                    <td>Item 6</td>
                </tr>
                <tr>
                    <td>Item 7</td>
                    <td>Item 8</td>
                    <td>Item 9</td>
                </tr>
                <tr class="warning">
                    <td>Item 10</td>
                    <td>Item 11</td>
                    <td>Item 12</td>
                </tr>
            </tbody>
        </table>

        <h1 class="panel-heading">Таблица table-striped (table-condensed, table-bordered, table-hover)</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Item 1</td>
                    <td>Item 2</td>
                    <td>Item 3</td>
                </tr>
                <tr>
                    <td>Item 4</td>
                    <td>Item 5</td>
                    <td>Item 6</td>
                </tr>
                <tr>
                    <td>Item 7</td>
                    <td>Item 8</td>
                    <td>Item 9</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>