<div class="container">
    <div class="col-sm-4">
        <div>
            <img class="movie-img" ng-src="https://image.tmdb.org/t/p/w500{{$ctrl.data.poster_path}}" alt="...">
        </div>
    </div>
    <div class="col-sm-8">
        <h1>{{$ctrl.data.original_title}}</h1>
        <h3>Overview</h3>
        <p>{{$ctrl.data.overview}}</p>
        <table class="table">
            <tbody>
                <tr>
                    <th>Production Countries</th>
                    <td><span class="badge" ng-repeat="country in $ctrl.data.production_countries">{{country.name}}</span></td>
                </tr>
                <tr>
                    <th>Production Companies</th>
                    <td><span class="badge" ng-repeat="company in $ctrl.data.production_companies">{{company.name}}</span></td>
                </tr>
                <tr>
                    <th>Languages</th>
                    <td><span class="badge" ng-repeat="language in $ctrl.data.spoken_languages">{{language.name}}</span></td>
                </tr>
                <tr>
                    <th>Duration</th>
                    <td></td>
                </tr> 
                <tr>
                    <th>Genres</th>
                    <td><span class="badge" ng-repeat="genre in $ctrl.data.genres">{{genre.name}}</span></td>
                </tr>                
                <tr>
                    <th>Homepage</th>
                    <td><a ng-href="{{$ctrl.data.homepage}}">{{$ctrl.data.homepage}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    
Title: {{$ctrl.data | json:4}}

</div>