<div class="container">
    <div class="col-sm-4">
        <div>
            <img class="movie-img" ng-src="https://image.tmdb.org/t/p/w500{{$ctrl.data.poster_path}}" alt="...">
        </div>
    </div>
    <div class="col-sm-8">
        <h1>{{$ctrl.data.title}}</h1>
        <h3>{{'OVERVIEW' | translate}}</h3>
        <p>{{$ctrl.data.overview}}</p>
        <table class="table">
            <tbody>
                <tr>
                    <th>{{'PRODUCTION_COUNTRIES' | translate}}</th>
                    <td><span class="badge" ng-repeat="country in $ctrl.data.production_countries">{{country.name}}</span></td>
                </tr>
                <tr>
                    <th>{{'PRODUCTION_COMPANIES' | translate}}</th>
                    <td><span class="badge" ng-repeat="company in $ctrl.data.production_companies">{{company.name}}</span></td>
                </tr>
                <tr>
                    <th>{{'FILM_LANGUAGES' | translate}}</th>
                    <td><span>{{$ctrl.data.original_language}}</span></td>
                </tr>
                <tr>
                    <th>{{'DURATION' | translate}}</th>
                    <td></td>
                </tr> 
                <tr>
                    <th>{{'GENRES' | translate}}</th>
                    <td><span class="badge" ng-repeat="genre in $ctrl.data.genres">{{genre.name}}</span></td>
                </tr>                
                <tr>
                    <th>{{'HOMEPAGE' | translate}}</th>
                    <td><a ng-href="{{$ctrl.data.homepage}}">{{$ctrl.data.homepage}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    
Title: {{$ctrl.data | json:4}}

</div>